name: 'CI'

on:
  workflow_dispatch:

jobs:
  my_cmake_job:
    runs-on: ${{ matrix.os }}
    name: Build
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Cache
      run: cmake -S . --preset Debug32

    - name: Build
      run: cmake --build Temp/Debug32

    - name: Install
      run: cmake --build Temp/Debug32 --target install