name: 'CI'

on:
  workflow_dispatch:

jobs:
  my_cmake_job:
    runs-on: ${{ matrix.os }}
    name: Build
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Cache
      run: cmake -S . -B DirTemp -DCMAKE_BUILD_TYPE=Debug

    - name: Build
      run: cmake --build DirTemp